@page "/counter"

<PageTitle>Barcode Scanners</PageTitle>

<h1>Hardware: <small class="text-muted">Barcode Scanners</small></h1>
<div hidden="@IsEditing">
    <p>@(new MarkupString(content))</p>
</div>
<div class="dotted-lines" hidden="@(!IsEditing)">
    <Editor
      Id="counterTestEditor"
      Inline=false
      CloudChannel="5"
      Disable=false
      Conf="@editorConf"
      ApiKey="7so5re0foy5ocvnv7m3m3rznoi0hiar7wrg9w0hk2bkgfshl"
      ClassName="counterEditor"
      @bind-Value=content
    /> 
</div>
<div hidden="@IsEditing">
    <p>@(new MarkupString(content2))</p>
</div>
<div class="dotted-lines" hidden="@(!IsEditing)">
    <Editor
      Id="counterTestEditor2"
      Inline=false
      CloudChannel="5"
      Disable=false
      Conf="@editorConf"
      ApiKey="7so5re0foy5ocvnv7m3m3rznoi0hiar7wrg9w0hk2bkgfshl"
      ClassName="counterEditor"
      @bind-Value=content2
    /> 
</div>
<button class="btn btn-outline-primary" @onclick="ClearContent">Clear</button>
<button class="btn btn-outline-primary" @onclick="Edit" hidden="@IsEditing">Edit</button>
<button class="btn btn-outline-primary" @onclick="Save" hidden="@(!IsEditing)">Save</button>
<button class="btn btn-outline-primary" @onclick="Cancel" hidden="@(!IsEditing)">Cancel</button>


@code {
    private string content = "<p>Hello world</p>";
    private string content2 = "<p>Hello world2</p>";//will be tied to a DB
    private string initialContent { get; set; }
    private bool IsEditing { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    private void ClearContent()
    {
        content = "";
        content2 = "";
    }

    private void Edit()
    {
        initialContent = content;
        IsEditing = true;
    }

    private void Save()
    {
        IsEditing = false;
    }

    private void Cancel()
    {
        content = initialContent;
        IsEditing = false;
    }

    private Dictionary<string, object> editorConf = new Dictionary<string, object>  {
        {"menubar", "edit insert format table tools help"},
        {"toolbar", "undo redo | bold italic underline strikethrough | fontfamily fontsize blocks | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist | forecolor backcolor removeformat | pagebreak | charmap emoticons | fullscreen  preview save print | insertfile image media template link anchor codesample | ltr rtl"},
        {"plugins", "link image imagetools spellchecker table lists advlist code emoticons wordcount importcss "},
        {"contextmenu", "link image imagetools table spellchecker lists"},
        {"table_toolbar", "tableprops tabledelete | tableinsertrowbefore tableinsertrowafter tabledeleterow | tableinsertcolbefore tableinsertcolafter tabledeletecol"},
        {"width", 900},
        {"skin", "oxide-dark"},
        {"content_css", "dark"},
        {"autosave_ask_before_unload", "true"},
        {"resize", "both"}
    };
}
